@page "/searchresults"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using TheFund.AtidsXe.Blazor.Server.Data
@using TheFund.AtidsXe.Blazor.Server.Models
@using TheFund.AtidsXe.Blazor.Server.Models.DataTransferObjects
@using System.Collections.Generic;
@using System.Collections.ObjectModel;
@using TheFund.AtidsXe.Blazor.Server.Models.Requests;

<h1>Search Results</h1>

<p>This component demonstrates fetching data from a service.</p>

<div id="container">
    <SfGrid ID="DefaultGrid"
            TValue="TitleEventDTO"
            AllowSelection="true"
            AllowSorting="true"
            AllowFiltering="true"
            AllowGrouping="true"
            AllowPaging="true"
            AllowReordering="true"
            AllowMultiSorting="true"
            AllowResizing="true"
            AllowRowDragAndDrop="true"
            EnablePersistence="false"
            EnableVirtualization="false"
            EnableColumnVirtualization="false"
            EnableHover="true"
            Height="600">
        <SfDataManager AdaptorInstance="@typeof(SearchResultsAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
        <GridPageSettings PageSize="10" PageCount="5"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(TitleEventDTO.TitleEventId)
                        HeaderText="Index"
                        Visible="true"
                        IsPrimaryKey="true"
                        Width="150"></GridColumn>
            <GridColumn Field=@nameof(TitleEventDTO.Amount)
                        HeaderText="Amount"
                        Visible="true"
                        IsPrimaryKey="false"
                        Width="150"></GridColumn>
            <GridColumn Field=@nameof(TitleEventDTO.CreateDate)
                        HeaderText="Create Date"
                        Visible="true"
                        IsPrimaryKey="false"
                        Width="150"></GridColumn>
            <GridColumn Field=@nameof(TitleEventDTO.AdditionalInformation)
                        HeaderText="Additional Information"
                        Visible="true"
                        IsPrimaryKey="false"
                        Width="200"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>
